Web/Web/Connected Services/Bill/Bill_Admin1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62517/Service/Admin/BILL/Bill_Admin.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ShopService.Model.DTO" />
  <xs:import schemaLocation="http://localhost:62517/Service/Admin/BILL/Bill_Admin.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ShopService.Model.Entity" />
  <xs:element name="list_bill">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="list_billResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ShopService.Model.DTO" minOccurs="0" name="list_billResult" nillable="true" type="q1:ArrayOfbillDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_bill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ShopService.Model.Entity" minOccurs="0" name="bills" nillable="true" type="q2:bill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_billResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="add_billDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ShopService.Model.Entity" minOccurs="0" name="detail" nillable="true" type="q3:billDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_billDetailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ShopService.Model.DTO" minOccurs="0" name="DetailBillResult" nillable="true" type="q4:ArrayOfDetailBillDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="top">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="topResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="topResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ShopService.Model.Entity" minOccurs="0" name="testResult" nillable="true" type="q5:ArrayOfbillDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>